html{
    margin: auto;
    text-align: center;
}


@font-face {
    font-family: logoFont;
    src: url(Norse-Bold.otf);
}

.logo {
    background-color: rgb(0, 0, 0, .5);
    
    float: left;
    padding: 1rem 1rem;
    vertical-align: middle;
    font-family: logoFont, Arial, Helvetica, sans-serif;
    color: white;
    font-size: x-large;
}

.formSide {
    float: right;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    padding: 30px;
}

.inputBox {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}